<!-- RODAPÉ SISTEMA -->
<footer>
    <div id="div-background-rodape" class="container-fluid pl-0 pr-0">
        <div class="container h-100">
            <div id="rodape" class="row h-100 pt-4 p-3 p-md-5 rodape ">
                <div class="col-12 col-md-12 col-lg-3 d-flex justify-content-center justify-content-md-center align-items-center">
                    <img id="logomarca-rodape-vertical" src="/images/LOGO_IFAL_BRANCO_VERTICAL.svg" class="d-none d-lg-block" />
                    <img id="logomarca-rodape-horizontal" src="/images/LOGO_IFAL_BRANCO.svg" class="d-block d-lg-none pt-3 pt-md-0 mb-5" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <ul class="list-unstyled text-center text-md-left">
                        <li>
                            <span id="rodape-a-21" class="head-lista-rodape d-none d-md-block mb-2">Pró-Reitorias e Diretorias</a></span>
                            <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="head-lista-rodape d-block d-md-none pt-2 pb-2 pl-4 mb-1 mb-md-3">
                                Pró-Reitorias e Diretorias <i class="bi-chevron-down m-2"></i></a>
                            <ul class="d-md-block collapse list-unstyled" id="submenu1">
                                <li><a href="https://www2.ifal.edu.br/o-ifal/administracao" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Administração</a></li>
                                <li><a href="https://www2.ifal.edu.br/o-ifal/comunicacao" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Comunicação e Eventos</a></li>
                                <li><a href="https://www2.ifal.edu.br/o-ifal/desenvolvimento-institucional" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Desenvolvimento Institucional</a></li>
                                <li><a href="https://www2.ifal.edu.br/o-ifal/ensino" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Ensino</a></li>
                                <li><a href="https://www2.ifal.edu.br/o-ifal/extensao" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Extensão</a></li>
                                <li><a href="https://www2.ifal.edu.br/o-ifal/gestao-de-pessoas" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Gestão de Pessoas</a></li>
                                <li><a href="https://www2.ifal.edu.br/o-ifal/pesquisa-inovacao-e-pos-graduacao" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Pesquisa, Pós-Graduação e Inovação</a></li>
                                <li><a href="https://www2.ifal.edu.br/o-ifal/planejamento-institucional" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Planejamento Institucional</a></li>
                                <li><a href="https://www2.ifal.edu.br/o-ifal/relacoes-internacionais" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Relações Internacionais</a></li>
                                <li><a href="https://www2.ifal.edu.br/o-ifal/tecnologia-da-informacao" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Tecnologia da Informação</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <ul class="list-unstyled text-center text-md-left">
                        <li>
                            <span id="rodape-a-21" class="head-lista-rodape d-none d-md-block mb-2">Conheça o IFAL</a></span>
                            <a id="rodape-a-22" href="#submenu2" data-toggle="collapse" aria-expanded="false" class="head-lista-rodape d-block d-md-none pt-2 pb-2 pl-4 mb-1 mb-md-3">
                            Conheça o IFAL <i class="bi-chevron-down m-2"></i></a>
                            <ul class="d-md-block list-unstyled collapse" id="submenu2">
                                <li><a href="https://www2.ifal.edu.br/o-ifal/ensino/cursos" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Cursos</a></li>
                                <li><a href="https://www2.ifal.edu.br/o-ifal/campus" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Campi</a></li>
                                <li><a href="https://www2.ifal.edu.br/o-ifal/ensino/estude-conosco" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Estude conosco</a></li>
                                <li><a href="https://www2.ifal.edu.br/o-ifal/acesso-a-informacao/perguntas-frequentes" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Perguntas frequentes</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <ul class="list-unstyled text-center text-md-left">
                        <li class="head-lista-rodape pt-2 pt-md-0 mb-0 mb-md-2">Contatos</li>
                        <li><a href="https://www2.ifal.edu.br/contatos" class="p-2 pt-lg-1 pb-lg-1" target="_blank">Telefones e e-mails</a></li>
                        <li class="head-lista-rodape mb-0 mb-md-2 mt-3 mt-md-2">Endereço</li>
                        <li class="pl-2 pt-2 pb-1">Rua Odilon Vasconcelos, 103, Maceió (AL), 57035-660</li>
                        <li class="pl-2 pt-2 pb-1">Funcionamento: 7h às 22h</li>
                        <li class="pl-2 pt-2 pb-1">CNPJ: 10.825.373/0001-55</li>
                        <li class="head-lista-rodape pt-4 mb-3">Redes sociais</li>
                        <li class="social-rodape">
                            <a href="https://facebook.com/ifal.oficial" class="rs pl-1" title="Acessar página do IFAL no Facebook" target="_blank"><i class="bi-facebook"></i></a>
                            <a href="https://instagram.com/ifal.oficial" class="rs" title="Acessar perfil do IFAL no Instagram" target="_blank"><i class="bi-instagram"></i></a>
                            <a href="https://twitter.com/ifal_oficial" class="rs" title="Acessar perfil do IFAL no Twitter" target="_blank"><i class="bi-twitter"></i></a>
                            <a href="https://www.youtube.com/channel/UC6MCJM2Pg-3YHTH-79fdwsg" title="Acessar canal do IFAL no Youtube" class="rs" target="_blank"><i class="bi-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="div-rodape-assinatura" class="container-fluid pl-0 pr-0">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col mx-auto">
                    <div class="d-flex align-items-center flex-column">
                        <div class="p-2 m-sm-3"><span class="rodape-assinatura"><strong>© 2021</strong> | Desenvolvido por: CDSI / DTI / Reitoria</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FIM RODAPÉ -->
    
<!-- Contraste -->
<script src="/static/js/contraste.js" crossorigin="anonymous"></script>

</body>
</html>